*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    background-color: rgb(53, 61, 53);
    font-family: Arial;
    font-size: 20px;
}
h1  {
    font-size: 40px;
}
.first {
    color: rgb(212, 210, 74);
}
#your_name {
    background-color: rgb(131, 199, 131);
    border: 5px solid #444;
}